
h1{
  color:black;
  text-transform: capitalize; 
  text-align: center;
  
}
img{
  height: 400px;
  width: 100%;
  border: 5px solid #2E4374;

}
p{
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  
  
}
div{
  width:50% ;
  margin-left:25%;
}
